name: Django CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v3

    - name: List files in the repository
      run: ls -R  # Debugging step to list all files in the repository

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.2'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+https://github.com/sreyaudhayakumar/restapi_project_ci_cd

    - name: Set up Django database and run migrations
      env:
        DJANGO_SETTINGS_MODULE: rest_crud.settings  # Replace with your project settings module
      run: |
        python manage.py migrate

    - name: Run Django tests
      env:
        DJANGO_SETTINGS_MODULE: rest_crud.settings  # Replace with your project settings module
      run: |
        python manage.py test

